.meet_list {
  min-height: calc(100vh - 118px);

  .list_title {
    text-align: center;
    margin-bottom: 30px;

    @include medium {
      font-size: 2rem;
    }

    @include mediumLarge {
      font-size: 2.5rem;
    }
  }

  .list_icon {
    width: 100px;
    margin-bottom: 30px;
  }
}

.card {
  margin: 16px 0;

  .card-content {
    cursor: pointer;
  }

  .card-body {
    transition: all 0.5s ease;
  }

  .card-body:hover,
  .card-body:focus,
  .card-body:active {
    background: #d3d3d33d;
    -webkit-box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
